.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 20px;
    width: 100%;
    background: var(--white-color);
    border-radius: 12px;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title {
    font-size: 20px;
    color: #000000;
    line-height: 20px;
}

.trailer {
    width: 550px;
    height: 281px;
    border: 5px solid var(--grey);
    border-radius: 9px;
}

.divider {
    width: 100%;
    border: 1px solid var(--grey-300);
}

.description-text {
    line-height: 140%;
    color: #000000;
    width: 96.4%;
}

.production-list-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.production-element {
    display: flex;
    align-items: center;
    gap: 16px;
}

.production-logo-container {
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.production-logo {
    width: 40px;
}

.production-name {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.production-logo-not-found-container {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0.5px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.production-logo-not-found {
    filter: invert(91%) sepia(1%) saturate(0%) hue-rotate(215deg)
        brightness(83%) contrast(86%);
}
