.choice-button {
    border: 0;
    padding: 10px;
    margin: 0;
    height: 42px;
    border-radius: 8px;
    width: 232px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.active {
    background: var(--purple-200);
    font-weight: 700;
    color: var(--purple-500-main);
}

.not-active {
    background: #f2ebf9;
    border-radius: 8px;
    color: #000000;
}

.not-active:hover {
    color: var(--purple-200);
}
