.top-card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 800px;
    height: 400px;
    background: #ffffff;
    border-radius: 12px;
}

.main-info {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.info-container {
    width: 442px;
    height: 352px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.additional-info-container {
    display: grid;
    grid-template-columns: 140px auto;
    gap: 8px;
}

.grey {
    color: var(--grey-600);
}

.main-info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 20px;
    line-height: 24px;
    color: var(--purple-500-main);
    flex: none;
}

.rate {
    background-color: inherit;
}

.rating-info-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating-number {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
