.sideBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px; /*24px*/
    gap: 80px; /*80px*/
    width: 280px; /**/
    height: 100%; /*2644*/

    background: #f2ebf9;
}
