.container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.pag {
    width: 100%;
    display: flex;
    justify-content: end;
}

.loaderContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.notFound {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }
}
