.empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 352px;
    background-color: var(--grey-200);
    gap: 5px;
}

.text-in-empty-container {
    width: 57px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: var(--grey-500);
}
