.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.parametrs {
    display: flex;
    gap: 16px;
}

.sorting {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.inputMulti {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    width: 283.67px;
    height: 42px;
    background: #ffffff;
    border-radius: 8px;
}

.rootMulti {
    width: 283.67px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input:hover,
.input:focus {
    border: 1px solid #9854f6;
}

.ratingContainer {
    display: flex;
    flex-direction: row;
    width: 283.67px;
    gap: 8px;
}

.rootNumber {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pill {
    background-color: white !important;
    padding: 0 !important;
}

.resetFilter {
    height: 68px;
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 20px;

    display: flex;

    color: #9854f6;
    flex: none;
    background-color: #f5f5f6;
    padding-top: 38px;
}

.resetFilter:hover {
    color: #bd93f7;
}

.resetFilter:active {
    color: #541f9d;
}

.resetFilter:disabled {
    color: #7b7c88;
}

.inputLabel {
    height: 22px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 140%;
}

.option selected {
    background-color: #541f9d !important;
}

.option:hover {
    background-color: #f2ebf9 !important;
}
