.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;

    border-bottom: 1px solid var(--grey-200);
    flex: none;
}

.modal-title {
    line-height: 140%;
    color: #000000;
    flex: none;
}

.modal-body {
    padding: 16px !important;
}

.movie-title {
    font-size: 16px;
    line-height: 140%;

    color: #000000;
    flex: none;
}

.modal-rate-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.stars-rating-container {
    display: flex;
    justify-content: space-between;
}

.modal-buttons-container {
    display: flex;
}

.modal-button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.6px;
}

.save-button {
    color: white;
    background-color: var(--purple-500-main);
}

.save-button:hover {
    background-color: var(--purple-400);
}

.save-button:active {
    background-color: var(--purple-600);
}

.remove-button {
    background-color: inherit;
    color: var(--purple-500-main);
}
