.containerMovie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 980px;
    height: 2660px;
    margin-top: 40px;

    > h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        width: 980px;
        line-height: 140%;
        margin-bottom: 16px;
    }
}
